# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Data (optional – large files)
data/*.fit
